<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>
    Итоговый проект по разработке баз данных
</h1>
<h2>
    Аникин Данила Алексеевич ИНБО-07-20
</h2>
Страницы для взаимодействия с сущностями
<ul>
    <li><p><a href="/authors">Автор</a></p></li>
    <ul>
        <li><p><a href="/instrument-posession">Владение музыкальным инструментом</a></p></li>
        <li><p><a href="/work-experience">Опыт работы</a></p></li>
    </ul>

    <li><p><a href="/musical-album">Музыкальный альбом</a></p></li>
    <ul>
        <li><p><a href="/genre">Жанр</a></p></li>
        <li><p><a href="/designs">Дизайн</a></p></li>
    </ul>

    <li><p><a href="/song">Песня</a></p></li>
    <ul>
        <li><p><a href="/music">Музыка</a></p></li>
        <li><p><a href="/lyrics">Лирика</a></p></li>
    </ul>
</ul>
</body>
</html>