<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Designs</title>
</head>
<body>
<div th:switch="${designs}">
    <h2 th:case="null">No designs found!</h2>
    <div th:case="*">
        <h2>Designs</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Design name</th>
                <th>Path to design</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="design : ${designs}">
                <td th:text="${design.id}"></td>
                <td th:text="${design.designName}"></td>
                <td th:text="${design.pathToDesign}"></td>
                <td><a th:href="@{design-update/{id}(id=${design.id})}">Edit</a></td>
                <td><a th:href="@{design-delete/{id}(id=${design.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/design-create">Create design</a></p>
</div>
</body>
<h4><p><a href="/home">Home page</a></p>
</h4>
</html>