<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Musical album</title>
</head>
<body>
<form action="#" th:action="@{/musical-album-create}" th:object="${album}" method="post">
    <label for="albumName">Album name</label>
    <input type="text" th:field="*{albumName}" id="albumName" placeholder="Album name">

    <label for="songsAmount">Amount of songs</label>
    <input type="number" th:field="*{songsAmount}" id="songsAmount" placeholder="Amount of songs">

    <label for="designId">Design id</label>
    <input type="number" th:field="*{designId}" id="designId" placeholder="Design id">

    <label for="genreId">Genre id</label>
    <input type="number" th:field="*{genreId}" id="genreId" placeholder="Genre id">

    <input type="submit" value="Create musical album">
</form>
</body>
</html>